<a href="https://colab.research.google.com/github/NicolasFerre/ColabFerre/blob/dev/Reporte_de_pedidos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importación e instalación de librerias
Instalar xlsxwriter una vez al iniciar el entorno de colab, comentarlo después

- codigo
- '''comentario'''

In [193]:
'''!pip install xlsxwriter'''

Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.11/dist-packages (3.2.5)

In [194]:
import polars as pl

In [195]:
import pandas as pd
import numpy as np
import xlsxwriter

# Inicialización del documento
Recibe archivos de texto (.txt) con los nombres de "ReporteTejon", "ReporteIko", "ReporteBax" y "ReporteLuz"

In [196]:
datos = pd.read_csv('ReporteTejon.txt', sep='\t')
cuenta = pd.Series(np.ones(len(datos)), name='Cuenta')
cuenta.replace(1, 'Tejon', inplace=True)

In [197]:
'''
datos1 = pd.read_csv('ReporteIko.txt', sep='\t')
cuenta1 = pd.Series(np.ones(len(datos)), name='Cuenta')
cuenta1.replace(1, 'Iko', inplace=True)
'''

"\ndatos1 = pd.read_csv('ReporteIko.txt', sep='\t')\ncuenta1 = pd.Series(np.ones(len(datos)), name='Cuenta')\ncuenta1.replace(1, 'Iko', inplace=True)\n"

In [198]:
'''
datos2 = pd.read_csv('ReporteBax.txt', sep='\t')
cuenta2 = pd.Series(np.ones(len(datos)), name='Cuenta')
cuenta2.replace(1, 'Bax', inplace=True)
'''

"\ndatos2 = pd.read_csv('ReporteBax.txt', sep='\t')\ncuenta2 = pd.Series(np.ones(len(datos)), name='Cuenta')\ncuenta2.replace(1, 'Bax', inplace=True)\n"

In [199]:
'''
datos3 = pd.read_csv('ReporteLuz.txt', sep='\t')
cuenta3 = pd.Series(np.ones(len(datos)), name='Cuenta')
cuenta3.replace(1, 'Luz', inplace=True)
'''

"\ndatos3 = pd.read_csv('ReporteLuz.txt', sep='\t')\ncuenta3 = pd.Series(np.ones(len(datos)), name='Cuenta')\ncuenta3.replace(1, 'Luz', inplace=True)\n"

In [200]:
'''
frames = [datos, datos1, datos2, datos3]
datos = pd.concat(frames)
cuentas = [cuenta, cuenta1, cuenta2, cuenta3]
cuenta = pd.concat(cuentas)
'''

'\nframes = [datos, datos1, datos2, datos3]\ndatos = pd.concat(frames)\ncuentas = [cuenta, cuenta1, cuenta2, cuenta3]\ncuenta = pd.concat(cuentas)\n'

# Limpieza de datos de precios y costos

In [201]:
precios = datos[["item-price", "item-tax", "shipping-price", "shipping-tax"]]
precios.fillna(0, inplace=True)
datos[["item-price", "item-tax", "shipping-price", "shipping-tax"]] = precios.astype(float)
datos.head()

/tmp/ipython-input-201-3490208261.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  precios.fillna(0, inplace=True)

,order-id,order-item-id,purchase-date,payments-date,buyer-email,buyer-name,payment-method-details,buyer-phone-number,sku,product-name,...,is-prime,is-premium-order,customized-url,customized-page,is-replacement-order,is-exchange-order,original-order-id,is-transparency,is-buyer-requested-cancellation,buyer-requested-cancel-reason
0,701-5852943-4588233,130543301357361,2025-06-09T22:16:17+00:00,2025-06-09T22:16:17+00:00,lspzc99jy8x17dm@marketplace.amazon.com.mx,Abraham Gomez,CreditCard,NaN,ESE-16,"Truper ESE-16, Escalera de extensión, tipo III...",...,False,False,NaN,NaN,False,False,NaN,False,False,NaN
1,702-5883091-4028251,130581162862921,2025-06-10T00:50:20+00:00,2025-06-10T00:50:20+00:00,6w1cgzyyg66jtfr@marketplace.amazon.com.mx,jacqueline monserrat ortiz jimenez,Installments,NaN,16026,"Truper ESE-16, Escalera de extensión, tipo III...",...,False,False,NaN,NaN,False,False,NaN,False,False,NaN
2,702-7520478-0944269,130578483906281,2025-06-10T02:42:56+00:00,2025-06-10T02:42:56+00:00,fyg6tfk3nwcjh01@marketplace.amazon.com.mx,Cecilia Amaya,Installments,NaN,EST-36,"Truper EST-36, Escalera de tijera tipo III, 6 ...",...,False,False,NaN,NaN,False,False,NaN,False,False,NaN
3,702-8859585-3223453,130584017252641,2025-06-10T05:30:54+00:00,2025-06-10T05:30:54+00:00,3w8chqk6h0s22bj@marketplace.amazon.com.mx,Conce Rodriguez de Barragan,CreditCard,NaN,HZ-X0SM-WFIG,"Truper P-520, Podadora motor a gasolina 20"", 5 HP",...,False,False,NaN,NaN,False,False,NaN,False,False,NaN
4,702-0055786-0647439,130592689702481,2025-06-10T15:24:21+00:00,2025-06-10T15:24:21+00:00,hbmd7l5980k826l@marketplace.amazon.com.mx,Cristina Quintal,CreditCard,NaN,16744,"Truper EST-26, Escalera de tijera tipo II, 6 e...",...,False,False,NaN,NaN,False,False,NaN,False,False,NaN

In [202]:
df = pd.DataFrame(datos)
df.insert(0, 'Cuenta', cuenta)

# Limpieza de datos de fecha

In [203]:
df['purchase-date'] = pd.to_datetime(df['purchase-date'])
fechas = df['purchase-date'].dt.strftime('%d/%m/%Y')
df['purchase-date'] = fechas
df['purchase-date'].head(10)

0    09/06/2025
1    10/06/2025
2    10/06/2025
3    10/06/2025
4    10/06/2025
5    10/06/2025
6    10/06/2025
7    10/06/2025
8    10/06/2025
9    10/06/2025
Name: purchase-date, dtype: object

# Extracción de datos de envio

In [204]:
'''Placeholder'''
envio = pd.Series(np.ones(len(datos)), name='Total de envio')
envio.replace(1, 50, inplace=True)

# Extracción de datos de costo del producto

In [205]:
renglonaje = pd.read_excel('Renglonaje.xlsx', sheet_name = 0)
rentabilidad = renglonaje[["clave", "Total que paga Edy a Truper contando reserva en garantía CON IVA"]]
rentabilidad.rename(columns={'clave': 'sku', 'Total que paga Edy a Truper contando reserva en garantía CON IVA': 'Pago a TRUPER'}, inplace=True)
rentabilidad.head()

/tmp/ipython-input-205-4261689006.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rentabilidad.rename(columns={'clave': 'sku', 'Total que paga Edy a Truper contando reserva en garantía CON IVA': 'Pago a TRUPER'}, inplace=True)

           sku Pago a TRUPER
0      PET-15X      290.9246
1      PET-15C     407.29444
2   REP-CUT-5X      13.96797
3   REP-CUT-6X       24.8253
4  REP-CUT-650      65.94158

In [206]:
df = pd.merge(df, rentabilidad, on='sku', how='left')
df['Pago a TRUPER'].fillna(0, inplace=True)
df.head()

,Cuenta,order-id,order-item-id,purchase-date,payments-date,buyer-email,buyer-name,payment-method-details,buyer-phone-number,sku,...,is-premium-order,customized-url,customized-page,is-replacement-order,is-exchange-order,original-order-id,is-transparency,is-buyer-requested-cancellation,buyer-requested-cancel-reason,Pago a TRUPER
0,Tejon,701-5852943-4588233,130543301357361,09/06/2025,2025-06-09T22:16:17+00:00,lspzc99jy8x17dm@marketplace.amazon.com.mx,Abraham Gomez,CreditCard,NaN,ESE-16,...,False,NaN,NaN,False,False,NaN,False,False,NaN,1861.93738
1,Tejon,702-5883091-4028251,130581162862921,10/06/2025,2025-06-10T00:50:20+00:00,6w1cgzyyg66jtfr@marketplace.amazon.com.mx,jacqueline monserrat ortiz jimenez,Installments,NaN,16026,...,False,NaN,NaN,False,False,NaN,False,False,NaN,0.00000
2,Tejon,702-7520478-0944269,130578483906281,10/06/2025,2025-06-10T02:42:56+00:00,fyg6tfk3nwcjh01@marketplace.amazon.com.mx,Cecilia Amaya,Installments,NaN,EST-36,...,False,NaN,NaN,False,False,NaN,False,False,NaN,1202.50164
3,Tejon,702-8859585-3223453,130584017252641,10/06/2025,2025-06-10T05:30:54+00:00,3w8chqk6h0s22bj@marketplace.amazon.com.mx,Conce Rodriguez de Barragan,CreditCard,NaN,HZ-X0SM-WFIG,...,False,NaN,NaN,False,False,NaN,False,False,NaN,0.00000
4,Tejon,702-0055786-0647439,130592689702481,10/06/2025,2025-06-10T15:24:21+00:00,hbmd7l5980k826l@marketplace.amazon.com.mx,Cristina Quintal,CreditCard,NaN,16744,...,False,NaN,NaN,False,False,NaN,False,False,NaN,0.00000

# Calculo de rentabilidad bruta

In [207]:
df['Total de envio'] = envio

In [208]:
valor_item = df['item-price'] - df['item-tax'] + df['shipping-price'] + df['shipping-tax']

In [209]:
df['Rentabilidad bruta'] = valor_item - df['Total de envio'] - df['Pago a TRUPER']

# Limpiar datos de rentabilidad bruta

In [210]:
df.loc[df['Pago a TRUPER'] <= 0, 'Rentabilidad bruta'] = 0

# Retorno al remitente

In [211]:
df['Estatus de retorno al remitente'] = np.zeros(len(df))
df['Estatus de retorno al remitente'].replace(0, '-', inplace=True)

/tmp/ipython-input-211-3522286145.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Estatus de retorno al remitente'].replace(0, '-', inplace=True)

In [212]:
df['Servicio de mensajeria utilizado'] = np.zeros(len(df))
df['Servicio de mensajeria utilizado'].replace(0, '-', inplace=True)

/tmp/ipython-input-212-896123308.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Servicio de mensajeria utilizado'].replace(0, '-', inplace=True)

## Tarifas y comisiones de Amazon
Calcula:
- Tarifas de Amazon
- Comisión que cobra Amazon
- Costo de la etiqueta de retorno
- Costo de la etiqueta de envio

In [213]:
df['Tarifas de Amazon'] = df['item-tax'] * 0.92802021 * -1
df['Comision de Amazon'] = (df['item-tax'] + df['Tarifas de Amazon']) * -1

In [214]:
df['Costo de la etiqueta de retorno'] = np.zeros(len(df))

In [215]:
df['Costo de la etiqueta de envio'] = df['Total de envio'] * -1

## Limpieza de los campos de tarifas

In [216]:
df.loc[df['Estatus de retorno al remitente'] == '-', 'Tarifas de Amazon'] = np.nan
df.loc[df['Estatus de retorno al remitente'] == '-', 'Comision de Amazon'] = np.nan
df.loc[df['Estatus de retorno al remitente'] == '-', 'Costo de la etiqueta de retorno'] = np.nan
df.loc[df['Estatus de retorno al remitente'] == '-', 'Costo de la etiqueta de envio'] = np.nan

# Devolución solicitada por le comprador

In [217]:
df['Devolución solicitada por el comprador'] = np.zeros(len(df))
df['Devolución solicitada por el comprador'].replace(0, '-', inplace=True)

/tmp/ipython-input-217-2722104451.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Devolución solicitada por el comprador'].replace(0, '-', inplace=True)

In [218]:
df['Estatus de la devolución/paqueteria'] = np.zeros(len(df))
df['Estatus de la devolución/paqueteria'].replace(0, '-', inplace=True)

/tmp/ipython-input-218-2070498004.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Estatus de la devolución/paqueteria'].replace(0, '-', inplace=True)

In [219]:
df['Estatus del reembolso de la devolucion'] = np.zeros(len(df))
df['Estatus del reembolso de la devolucion'].replace(0, '-', inplace=True)

/tmp/ipython-input-219-2919290632.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Estatus del reembolso de la devolucion'].replace(0, '-', inplace=True)

## Tarifas y comisiones de amazon

In [220]:
df['Comision que cobra Amazon - Devolucion'] = (df['item-tax'] + df['Tarifas de Amazon']) * -1

In [221]:
df['Costo de la etiqueta de devolucion'] = np.zeros(len(df))

In [222]:
df['Costo de la etiqueta de envio de devolucion'] = df['Total de envio'] * -1

In [223]:
df['Costo del producto'] = df['Costo de la etiqueta de devolucion']

## Limpieza de datos de devolución

In [224]:
df.loc[df['Devolución solicitada por el comprador'] == '-', 'Comision que cobra Amazon - Devolucion'] = np.nan
df.loc[df['Devolución solicitada por el comprador'] == '-', 'Costo de la etiqueta de devolucion'] = np.nan
df.loc[df['Devolución solicitada por el comprador'] == '-', 'Costo de la etiqueta de envio de devolucion'] = np.nan

# Reclamo AZ

In [225]:
df['Reclamo AZ'] = np.zeros(len(df))
df['Reclamo AZ'].replace(0, '-', inplace=True)

/tmp/ipython-input-225-3888130070.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Reclamo AZ'].replace(0, '-', inplace=True)

## Tarifas y comisiones de Amazon

In [226]:
df['Comision que cobra Amazon - Reclamo AZ'] = (df['item-tax'] + df['Tarifas de Amazon']) * -1

In [227]:
df['Costo de la etiqueta de envio - Reclamo AZ'] = np.zeros(len(df))

In [228]:
df['Costo del producto - Reclamo AZ'] = np.zeros(len(df))

## Recuperación y afectación

In [229]:
df['Recuperacion e indemnizacion'] = np.zeros(len(df))

In [230]:
df['Afectacion'] = np.zeros(len(df))
df['Afectacion'].replace(0, '-', inplace=True)

/tmp/ipython-input-230-2653180619.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Afectacion'].replace(0, '-', inplace=True)

## Limpieza de datos de reclamos

In [231]:
df.loc[df['Reclamo AZ'] == '-', 'Comision que cobra Amazon - Reclamo AZ'] = np.nan
df.loc[df['Reclamo AZ'] == '-', 'Costo de la etiqueta de envio - Reclamo AZ'] = np.nan
df.loc[df['Reclamo AZ'] == '-', 'Costo del producto - Reclamo AZ'] = np.nan
df.loc[df['Reclamo AZ'] == '-', 'Recuperacion e indemnizacion'] = np.nan
df.loc[df['Reclamo AZ'] == '-', 'Afectacion'] = np.nan

# Creacion del documento de Excel

In [232]:
writer = pd.ExcelWriter('Reporte de pedidos.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name='Reporte', index=False)

In [233]:
workbook = writer.book
worksheet = writer.sheets['Reporte']

In [234]:
currency_format = workbook.add_format({'num_format': '$#,##0.00'})

In [235]:
worksheet.set_column('R:Y', 15, currency_format)
worksheet.set_column('AR:AT', 15, currency_format)

0

In [236]:
writer.close()